/* SCSS IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ALL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  cursor: url("../images/cursor.webp"), default;
  overscroll-behavior-y: none;
  background: #25282c;
}

::-moz-selection {
  color: #30a8f0;
}

::selection {
  color: #30a8f0;
}

/* NAVBAR BACKGROUND */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8vh;
  width: 100%;
  background: #111417;
  -webkit-box-shadow: #191c20;
          box-shadow: #191c20;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 998;
  position: fixed;
}

body {
  color: white;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  overscroll-behavior-y: none;
  font-weight: 300;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5vh;
  width: 100%;
  background: #111417;
  -webkit-box-shadow: #191c20;
          box-shadow: #191c20;
  -webkit-box-shadow: 0px 3px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px -10px rgba(0, 0, 0, 0.4);
  z-index: 998;
}

.pointer {
  cursor: url("../images/pointer.webp"), pointer;
}

.section-home {
  height: 100vh;
  width: 100%;
  background: #1a1d29;
}

.menu-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  margin-top: 30vh;
  text-align: right;
}

.menu-text-style {
  width: 100%;
  padding: 2rem;
  font-size: x-large;
}

.menu-text-style h1 {
  color: #FFCAC9;
  text-decoration: underline;
  -webkit-text-decoration-color: #737DFE;
          text-decoration-color: #737DFE;
  -webkit-filter: drop-shadow(0.3rem 0.3rem 0.3rem black);
          filter: drop-shadow(0.3rem 0.3rem 0.3rem black);
}

.menu-text-style h3 {
  color: #cfcece;
  text-shadow: 0.3rem 0.3rem 0.3rem black;
}

.menu-picture {
  height: 100%;
  width: 50%;
  margin-top: 20vh;
  -webkit-transform: translate(42vw, 0);
          transform: translate(42vw, 0);
}

.movein {
  -webkit-transform: translate(-42vw, 0);
          transform: translate(-42vw, 0);
}

.menu-image {
  -webkit-filter: drop-shadow(0 0 2rem black);
          filter: drop-shadow(0 0 2rem black);
  position: absolute;
  margin-left: 10rem;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-features {
  height: 100vh;
  width: 100%;
  background: #1a1d29;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12rem;
  padding-bottom: auto;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 25rem 25rem 20rem;
      grid-template-columns: 25rem 25rem 25rem 20rem;
  -ms-grid-rows: 20rem 20rem;
      grid-template-rows: 20rem 20rem;
}

.item {
  padding: 0.5rem;
  width: 20rem;
  height: 10rem;
  border-style: solid;
  border-width: 2px;
  border-color: #737DFE;
  border-radius: 10px;
  background-color: rgba(203, 215, 255, 0.03);
  -webkit-transform: translate(25vw, 0);
          transform: translate(25vw, 0);
}

.item h1 {
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

.section-reviews {
  height: 100vh;
  width: 100%;
  background: #1a1d29;
}

.section-buy {
  height: 95vh;
  width: 100%;
  background: #1a1d29;
}

.navbarUL a {
  font-weight: 500;
  color: #FFCAC9;
}

/* FLOATING BUBBLE UNDER NAVBAR TEXT */
.bubble {
  position: fixed;
  z-index: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-color: #737DFE;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  opacity: 1;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  position: fixed;
}

nav ul {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  font-size: 1.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  padding-right: clamp(2rem, 0rem, 0rem);
}

nav a {
  color: #4c61f5;
  text-decoration: none;
}

.big-logo {
  font-weight: 500;
  font-size: 3rem;
  color: #7c7aff;
  text-shadow: 0.2rem 0.2rem 0.5rem black;
}

.gamer-rgb {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #4c61f5;
  background-image: -webkit-linear-gradient(90deg, #4c61f5, #7c7aff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
          animation: hue 15s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

[data-inviewport="scale-in"] {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

[data-inviewport="scale-in"].is-inViewport {
  -webkit-transform: scale(1);
          transform: scale(1);
}

[data-inviewport="move"] {
  -webkit-transition: 1s;
  transition: 1s;
}

[data-inviewport="move"].is-inViewport {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* THIS MAKES CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFCAC9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cfcece;
}
/*# sourceMappingURL=style.css.map */